{% extends "base.html" %}
{% block start %}
    
    <div class="container mb-5">

        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data"> <!-- post methods data send from frontent to backend and enctype can upload the folder data -->
            {% csrf_token %}
            <h2>Receipes Add</h2>
            <hr>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Receipe name:</label>
                <input name="receipe_name" required type="text" class="form-control">
            </div>
        
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Receipe Description:</label>
                <textarea class="form-control" required name="receipe_description"></textarea>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Receipe Image:</label>
                <input name="receipe_image" type="file" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Add Receipes</button>
        </form>
        {% comment %} {{receipes}} {% endcomment %}

        <div>
            <div class="mx-auto col-6 mt-5">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Search Food</label>
                        <input name="search" value="{{receipe.receipe_name}}" type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button><br></br>
                </form>
            </div>
        </div>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">S. N</th>
                    <th scope="col">Receipes Name</th>
                    <th scope="col">Receipes Descriptions</th>
                    <th scope="col">Receipes Image</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for receipe in receipes %}
                <tr>
                    <th scope="col">{{forloop.counter}}</th>
                    <td>{{receipe.receipe_name}}</td>
                    <td>{{receipe.receipe_description}}</td>
                    <td>
                        <img src="{{ receipe.receipe_image.url }}" style="height: 100px" alt="img">
                        <!-- <img src="/media/{{receipe.receipe_image}}" style="height: 200px"/> -->
                    </td>
                    <td>
                        <a href="{% url 'delete_receipe' receipe.pk %}" class="btn btn-danger m-2">Delete</a>
                        <a href="{% url 'update_receipe' receipe.pk %}" class="btn btn-success">Update</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock%}